html,body{
    margin:0;
    padding:0;
    font-family:"Google Sans",Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#333;
    background:#fff;
}

canvas{
    border:0;
    background:black;
}